USE [master]
GO
/****** Object:  Database [CRUDWPF]    Script Date: 01/12/2023 10:57:33 p. m. ******/
CREATE DATABASE [CRUDWPF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDWPF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CRUDWPF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDWPF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CRUDWPF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDWPF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDWPF]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 01/12/2023 10:57:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Grupo] [int] NULL,
	[Codigo] [varchar](100) NULL,
	[Precio] [decimal](12, 2) NULL,
	[Activo] [bit] NULL,
	[Cantidad] [decimal](12, 2) NULL,
	[UnidadMedida] [varchar](10) NULL,
	[Img] [image] NULL,
	[Descripcion] [varchar](256) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 01/12/2023 10:57:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privilegios]    Script Date: 01/12/2023 10:57:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privilegios](
	[IdPrivilegio] [int] IDENTITY(1,1) NOT NULL,
	[NombrePrivilegio] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/12/2023 10:57:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[DUI] [int] NULL,
	[NIT] [float] NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[FechaNac] [date] NULL,
	[Privilegio] [int] NULL,
	[Img] [image] NULL,
	[Usuario] [varchar](50) NULL,
	[Contrasena] [varbinary](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 01/12/2023 10:57:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id_Venta] [int] IDENTITY(1,1) NOT NULL,
	[No_Factura] [varchar](20) NULL,
	[Fecha_Venta] [datetime] NULL,
	[monto_Total] [decimal](12, 2) NULL,
	[Id_Usuario] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas_Detalles]    Script Date: 01/12/2023 10:57:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas_Detalles](
	[Id_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[Id_Venta] [int] NULL,
	[Id_Articulo] [int] NULL,
	[Cantidad] [decimal](12, 2) NULL,
	[Precio_venta] [decimal](12, 2) NULL,
	[Monto_Total] [decimal](12, 2) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupos] ON 

INSERT [dbo].[Grupos] ([IdGrupo], [Nombre]) VALUES (1, N'Bebidas')
INSERT [dbo].[Grupos] ([IdGrupo], [Nombre]) VALUES (2, N'Alimentos')
INSERT [dbo].[Grupos] ([IdGrupo], [Nombre]) VALUES (3, N'Electrodomésticos')
SET IDENTITY_INSERT [dbo].[Grupos] OFF
GO
SET IDENTITY_INSERT [dbo].[Privilegios] ON 

INSERT [dbo].[Privilegios] ([IdPrivilegio], [NombrePrivilegio]) VALUES (1, N'Admin')
INSERT [dbo].[Privilegios] ([IdPrivilegio], [NombrePrivilegio]) VALUES (2, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Privilegios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id_Venta], [No_Factura], [Fecha_Venta], [monto_Total], [Id_Usuario]) VALUES (14, N'F-07052023045821-5', CAST(N'2023-05-07T16:58:21.170' AS DateTime), CAST(6000.00 AS Decimal(12, 2)), 5)
INSERT [dbo].[Ventas] ([Id_Venta], [No_Factura], [Fecha_Venta], [monto_Total], [Id_Usuario]) VALUES (15, N'F-07052023045939-5', CAST(N'2023-05-07T16:59:39.113' AS DateTime), CAST(22000.00 AS Decimal(12, 2)), 5)
INSERT [dbo].[Ventas] ([Id_Venta], [No_Factura], [Fecha_Venta], [monto_Total], [Id_Usuario]) VALUES (16, N'F-07052023050919-5', CAST(N'2023-05-07T17:09:19.430' AS DateTime), CAST(22000.00 AS Decimal(12, 2)), 5)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas_Detalles] ON 

INSERT [dbo].[Ventas_Detalles] ([Id_Detalle], [Id_Venta], [Id_Articulo], [Cantidad], [Precio_venta], [Monto_Total]) VALUES (5, 14, 1, CAST(1.00 AS Decimal(12, 2)), CAST(6000.00 AS Decimal(12, 2)), CAST(600000.00 AS Decimal(12, 2)))
INSERT [dbo].[Ventas_Detalles] ([Id_Detalle], [Id_Venta], [Id_Articulo], [Cantidad], [Precio_venta], [Monto_Total]) VALUES (6, 15, 2, CAST(1.00 AS Decimal(12, 2)), CAST(4000.00 AS Decimal(12, 2)), CAST(400000.00 AS Decimal(12, 2)))
INSERT [dbo].[Ventas_Detalles] ([Id_Detalle], [Id_Venta], [Id_Articulo], [Cantidad], [Precio_venta], [Monto_Total]) VALUES (7, 15, 1, CAST(3.00 AS Decimal(12, 2)), CAST(6000.00 AS Decimal(12, 2)), CAST(1800000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Ventas_Detalles] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_A_Actualizar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_Actualizar]
@IdArticulo int,
@Nombre Varchar (50),
@Grupo int,
@Codigo Varchar(100),
@Precio decimal(12,2),
@Activo bit,
@Cantidad decimal(12,2),
@UnidadMedida varchar(10),
@Descripcion Varchar (256)
AS
BEGIN
UPDATE Articulos SET Nombre=@Nombre, Grupo=@Grupo,Codigo=@Codigo,Precio=@Precio,Activo=@Activo,Cantidad=@Cantidad,UnidadMedida=@UnidadMedida,Descripcion=@Descripcion WHERE IdArticulo=@IdArticulo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_A_ActualizarIMG]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_ActualizarIMG]
@IdArticulo int,
@Img image
AS
BEGIN
UPDATE Articulos SET Img=@Img WHERE IdArticulo = @IdArticulo
End
 
GO
/****** Object:  StoredProcedure [dbo].[SP_A_Buscar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_Buscar]
@Nombre Varchar (50) 
AS 
BEGIN
SELECT * FROM Articulos WHERE Nombre LIKE @Nombre+'%' OR Codigo LIKE  @Nombre+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_A_Cantidad_Articulos]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_Cantidad_Articulos]
AS
BEGIN
SELECT SUM(Cantidad) FROM Articulos WHERE Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_A_CargarArticulos]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_CargarArticulos]
AS 
BEGIN
SELECT * FROM Articulos INNER JOIN Grupos ON Grupos.IdGrupo = Articulos.Grupo 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_A_Consultar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_Consultar]
@IdArticulo int
AS
BEGIN
SELECT * FROM Articulos WHERE IdArticulo=@IdArticulo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_A_Eliminar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_Eliminar]
@IdArticulo int
AS 
BEGIN
DELETE FROM Articulos WHERE IdArticulo=@IdArticulo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_A_Insertar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A_Insertar]

@Nombre Varchar (50),
@Grupo int,
@Codigo Varchar(100),
@Precio decimal(12,2),
@Activo bit,
@Cantidad decimal(12,2),
@UnidadMedida varchar(10),
@Img image,
@Descripcion Varchar (256)

AS
BEGIN

INSERT INTO Articulos VALUES (@Nombre,@Grupo,@Codigo,@Precio,@Activo,@Cantidad,@UnidadMedida,@Img,@Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_C_Buscar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_C_Buscar]
@Buscar varchar(50)
AS
BEGIN
SELECT * FROM Articulos WHERE Nombre LIKE @Buscar+'%' OR Codigo  LIKE @Buscar+'%' AND Activo=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_C_Venta]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_C_Venta]
@No_Factura varchar(20),
@Fecha datetime,
@Total decimal,
@IdUsuario int
AS
BEGIN
INSERT INTO Ventas Values(@No_Factura,@Fecha,@Total,@IdUsuario)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_C_Venta_Detalle]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_C_Venta_Detalle]
@Codigo varchar(50),
@Cantidad decimal (12,2),
@No_Factura varchar(20),
@Total decimal (12,2)
AS
BEGIN
Declare @Id_Venta  int =(select Id_Venta from Ventas WHERE No_Factura = @No_Factura);
Declare @Id_Articulo int =(select IdArticulo FROM Articulos WHERE Codigo = @Codigo);
Declare @Precio decimal (12,2) = (Select Precio FROM Articulos WHERE  Codigo = @Codigo);

INSERT INTO Ventas_Detalles VALUES (@Id_Venta,@Id_Articulo,@Cantidad,@Precio,@Total)
UPDATE Articulos SET Cantidad = Cantidad - @Cantidad  FROM Articulos WHERE Codigo = @Codigo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_G_CargarGrupos]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_G_CargarGrupos]
AS 
BEGIN
SELECT NOMBRE FROM Grupos 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_G_IdGrupo]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_G_IdGrupo]
@Nombre Varchar (50)
AS 
BEGIN
SELECT IdGrupo FROM Grupos WHERE Nombre = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[SP_G_NombreGrupo]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_G_NombreGrupo]
@IdGrupo int
AS
BEGIN
SELECT Nombre FROM Grupos WHERE IdGrupo = @IdGrupo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_Actualizar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO ACTUALIZAR
CREATE PROCEDURE  [dbo].[SP_U_Actualizar]
@IdUsuario int,
@Nombres varchar (50),
@Apellidos varchar (50),
@DUI int,
@NIT float,
@Correo varchar(50),
@Telefono int,
@FechaNac date,
@Privilegio int,
@Usuario varchar(50)

AS
BEGIN
UPDATE Usuarios SET Nombres=@Nombres, Apellidos=@Apellidos,DUI=@DUI,NIT=@NIT,Correo=@Correo,Telefono=@Telefono,FechaNac=@FechaNac,Privilegio=@Privilegio,Usuario=@Usuario WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_ActualizarIMG]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO ACTUALIZAR IMAGEN	
CREATE PROCEDURE [dbo].[SP_U_ActualizarIMG]
@IdUsuario int,
@Img image
AS
BEGIN
UPDATE Usuarios SET Img=@Img WHERE IdUsuario=@IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_ActualizarPass]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO ACTUALIZAR CONTRASEÑA
CREATE PROCEDURE [dbo].[SP_U_ActualizarPass]
@IdUsuario int,
@Contrasena varchar(500),
@Patron Varchar(50)

as begin
UPDATE Usuarios SET Contrasena=(ENCRYPTBYPASSPHRASE(@Patron,@Contrasena)) WHERE IdUsuario=@IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_Buscar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_Buscar]
@buscar Varchar(50)
AS
BEGIN
SELECT * FROM Usuarios INNER JOIN Privilegios ON Usuarios.Privilegio = Privilegios.IdPrivilegio WHERE Nombres LIKE @buscar+'%' or Apellidos like @buscar+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_CargarPrivilegios]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO CARGAR PRIVILEGIOS
CREATE PROCEDURE [dbo].[SP_U_CargarPrivilegios]
AS
BEGIN
SELECT NombrePrivilegio  FROM Privilegios 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_Consultar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO CONSULTAR
CREATE PROCEDURE [dbo].[SP_U_Consultar]
@IdUsuario int
AS
BEGIN
select * from Usuarios Where IdUsuario=@IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_Eliminar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO ELIMINAR
CREATE PROCEDURE [dbo].[SP_U_Eliminar]
@IdUsuario int
AS
BEGIN
DELETE FROM Usuarios WHERE IdUsuario=@IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_IdPrivilegio]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO OBTENER ID PRIVILEGIO
CREATE PROCEDURE [dbo].[SP_U_IdPrivilegio]
@NombrePrivilegio varchar(50)
AS
BEGIN
SELECT IdPrivilegio FROM Privilegios WHERE NombrePrivilegio=@NombrePrivilegio
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_IdUser]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_IdUser]
@Usuario varchar(50)
AS
BEGIN
SELECT IdUsuario FROM Usuarios WHERE Usuario=@Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_Insertar]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMINTO CREAR
CREATE PROCEDURE  [dbo].[SP_U_Insertar]
@Nombres varchar (50),
@Apellidos varchar (50),
@DUI int,
@NIT float,
@Correo varchar(50),
@Telefono int,
@FechaNac date,
@Privilegio int,
@Img varchar(max),
@Usuario varchar(50),
@Contrasena varchar(500),
@Patron varchar(50)

AS
BEGIN
INSERT INTO Usuarios VALUES (@Nombres,@Apellidos,@DUI,@NIT,@Correo,@Telefono,@FechaNac,@Privilegio,@Img,@Usuario,(ENCRYPTBYPASSPHRASE(@Patron,@Contrasena)))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_loginPassword]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_loginPassword]
@Usuario varchar(50)
AS 
BEGIN
SELECT (Convert (Varchar(50),DECRYPTBYPASSPHRASE('FAMC',Contrasena))) from Usuarios WHERE Usuario=@Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_loginUsuario]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_loginUsuario]
@Usuario varchar(50)
AS 
BEGIN
Select Count(*) from Usuarios Where Usuario =@Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_NivelAcceso]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_NivelAcceso]
@Usuario varchar(50)
AS
BEGIN
SELECT Privilegio FROM Usuarios WHERE Usuario=@Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_NombrePrivilegio]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO OBTENER CONTRASENA
CREATE PROCEDURE [dbo].[SP_U_NombrePrivilegio]
@IdPrivilegio int
AS
BEGIN
SELECT NombrePrivilegio FROM Privilegios WHERE IdPrivilegio=@IdPrivilegio
END
GO
/****** Object:  StoredProcedure [dbo].[SP_V_Cantidad_Ventas]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_V_Cantidad_Ventas]
--@IdUsuario int
AS
BEGIN
SELECT COUNT(*) FROM Ventas 
--SELECT COUNT(Id_Usuario) FROM Ventas WHERE Id_Usuario = @IdUsuario
END

GO
/****** Object:  StoredProcedure [dbo].[SP_V_Grafico]    Script Date: 9/05/2023 10:57:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_V_Grafico]
AS
BEGIN
SELECT TOP(10)* FROM Ventas ORDER BY Fecha_Venta DESC
END
GO
USE [master]
GO
